html {
    scroll-behavior: smooth;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        cursor: pointer;
        color: blueviolet;
        font-weight: bold;
    }
    &:focus, &:active {
        color: blueviolet;
        font-weight: bold;
    }

}

.active {
    color: blueviolet;
    font-weight: bold;
}


body {
    display: grid;
    justify-content: flex-end;

            // Navigation

    .header {
        position: fixed;
        top: 10rem;
        left: 0;
        width: 30vw;
        padding: 2rem;
        .nav {
            .nav-list {
                list-style-type: none;

                .nav-item {
                    margin: 1rem 0;
                }
            }

        }
    }


    // container - content
    .container {
        
        width: 70vw;
        .section {
            margin: 3rem 1rem;

            .section-heading {
                margin: 1rem 0;
            }
        }
    }

    .crud-footer {
        width: 100%;
        display: flex;
        justify-content: center;

        .button {
            width: 120px;
            padding: 0.4rem 0.7rem;
            margin:1rem;
            border: none;
            border-radius: 5px;
            background-color: rgb(102, 0, 197);
            color: white;

            &:hover {
                cursor: pointer;
                font-weight: 600;
                transition: background-color 300ms ease-in-out;
                background-color: rgb(6, 117, 65);
               
            }
        }
    }
}



